

.Navigation {
  width: 100%;
  text-align: center;
  box-shadow: 1px 2px 4px grey;
  background: rgba(2, 2, 2, 0.2);
  height: 120px;
  padding:0px;
  margin:0px;
  
  
 
}

.logo{

  float: left;
  margin-top:25px;
  
}





#button {
  float: right;
  margin-top: 40px;
  margin-right: 10px;
}


#col {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 150px;
}



body{
  margin: 0px;
 }










